:root {
    --text-color: #434455;
    --white-color: #ffffff;
    --overlay-color: #2e2f42;
    --light-color: #f4f4fd;
    --primary-color: #4d5ae5;
    --pressed-color: #404bbf;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    background-color: var(--white-color);
    color: var(--text-color);
}

.container {
    max-width: 1158px;
    padding: 0 15px;
    margin: 0 auto;
}

.section {
    padding: 120px 0;
}

.link {
    text-decoration: none;
}

.header {
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
    background-color: var(--white-color);
    border-bottom: 1px solid #e7e9fc;
}

.header__container {
    display: flex;
}

.menu {
    display: flex;
    align-items: center;
}

.logo {
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-size: 18px;
    font-weight: 800;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    margin-right: 76px;
}

.logo__text {
    color: #2E2F42;
}

.menu__list {
    list-style: none;
    display: flex;
    gap: 40px;
}

.menu__link {
    display: block;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #404bbf;
    padding: 24px 0;
    position: relative;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu__link::after {
    content: "";
    position: absolute;
    height: 4px;
    background-color: #404bbf;
    bottom: -1px;
    left: 0;
    border-radius: 2px;
    width: 100%;
}


.menu__link:hover {
    color: #404BBF;
}

.menu__link:focus {
    color: #404BBF;
}

.address {
    font-style: normal;
    margin-left: auto;
}

.address__list {
    list-style: none;
    display: flex;
    gap: 40px;
}

.address__link {
    display: block;
    color: #434455;
    padding: 24px 0;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address__link:focus {
    color: #404BBF;
}

.address__link:hover {
    color: #404BBF;
}

.hero {
    margin: 0 auto;
    background-color: #2e2f42;
    padding: 188px 0;
    max-width: 1440px;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url('/images/img-name.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.hero__title {
    max-width: 496px;
    width: 100%;
    margin: 0 auto;
    font-size: 56px;
    letter-spacing: 0.02em;
    line-height: 1.07;
    color: #ffffff;
    margin-bottom: 48px;
}

.button {
    display: block;
    margin: 0 auto;
    min-width: 169px;
    height: 56px;
    border: none;
    border-radius: 4px; 
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    background-color: #4D5AE5;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button:hover {
    background-color: #404BBF;
}

.button:focus {
    background-color: #404BBF;
}


.preference__list {
    list-style: none;
    display: flex;
}

.preference__item {
    width: calc((100% - 72px) / 4);
}

.preference__item:not(:last-child) {
    margin-right: 24px;
}

.preference__img {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 112px;
    border-radius: 4px;
    background-color: #f4f4fd;
    margin-bottom: 8px;
}

.preference__subtitle {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2E2F42;
    margin-bottom: 8px;
}

.preference__text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.portfolio {
    padding: 96px 0 120px
}

.portfolio__filter {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 24px;
    margin-bottom: 72px;
}

.portfolio__btn {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #4d5ae5;
    background-color: #F4F4FD;
    cursor: pointer;
    padding: 12px 24px;
    border: 1px solid #e7e9fc;
    border-radius: 4px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio__btn:hover {
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    color: #FFFFFF;
    background-color: #404BBF;
    border: 1px solid transparent;
}

.portfolio__btn:focus {
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    color: #FFFFFF;
    background-color: #404BBF;
    border: 1px solid transparent;
}

.portfolio__content {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
}

.portfolio__link {
    display: block;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio__link:focus {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.portfolio__link:hover {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.portfolio__link:focus.portfolio__wrapp-text
.portfolio__link:hover.portfolio__wrapp-text {
    box-shadow:0px 1px 6px rgba(46, 47, 66, 0.08),0px 1px 1px rgba(46, 47, 66, 0.16),0px 2px 1px rgba(46, 47, 66, 0.08);
    transform:translateY(0%);
}

.portfolio__wrapp-img {
    position: relative;
    overflow: hidden;
}

.portfolio__wrapp-text {
    position: absolute;
    top: 0;
    font-size: 16px;
    line-height: 1.5;
    padding: 40px 32px;
    background-color: #4d5ae5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    width: 100%;
    height: 100%;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.portfolio__content-wrap {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}

.portfolio__subtitle {
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
}

.portfolio__text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.services {
    padding-top: 0;
}

.services__title {
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    text-align: center;
    color: #2e2f42;
    margin-bottom: 72px;
}

.services__content {
    list-style: none;
    display: flex;
}

.services__item:not(:last-child) {
    margin-right: 24px;
}

.team {
    background-color: #F4F4FD ;
}


.team__title {
    font-size: 36px;
    font-weight: 500;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    text-align: center;
    color: #2e2f42;
    margin-bottom: 72px; 
}

.team__list {
    list-style: none;
    display: flex;
}

.team__item {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    background-color: #ffffff;
    border-radius: 0px 0px 4px 4px;
}

.team__item:not(:last-child) {
    margin-right: 24px;
}

.team__card {
    padding: 32px 0px;
    text-align: center;
}

.team__name {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2E2F42;
    margin-bottom: 8px;
}

.team__position {
    margin-bottom: 8px;
}

.team__list-social {
    display: flex;
    justify-content: center;
    gap: 24px;
}

.team__item-social {
    width: 40px;
    height: 40px;
}

.team__link-social {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: #4D5AE5;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team__link-social:focus {
    background-color: #404BBF;
}

.team__link-social:hover {
    background-color: #404BBF;
}

.team__img-social {
    fill: #f4f4fd;
}

.castomers__title {
    text-align: center;
    margin-bottom: 72px;
    font-size: 36px;
    line-height: 1.11;
    color: #2e2f42;
}

.castomers__list {
    display: flex;
    gap: 24px;
}

.castomers__item {
    width: calc((100% - 120px) / 6);
    height: 88px;
    border-radius: 4px;
}

.castomers__item:focus {
    border: 1px solid #404BBF;
}

.castomers__item:hover {
    border: 1px solid #404BBF;
}

.castomers__link {
    color: #8E8F99;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #8e8f99;
    border-radius: 4px;
    transition:  border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.castomers__link:focus {
    border-color: #404bbf;
    color: #404bbf;
}

.castomers__link:hover {
    border-color: #404bbf;
    color: #404bbf;
}

.castomers__img {
    fill: currentColor;
}


.footer {
    padding: 100px 0;
    background-color: #2E2F42;
}

.logo__footer {
    display: inline-block;
    margin-right: 0;
    margin-bottom: 16px;
}

.logo__text-footer {
    color: #F4F4FD;
}

.footer__text {
    width: 264px;
    color: #F4F4FD;
}

.footer_container {
    display: flex;
    align-items: baseline;
}

.footer__inner {
    margin-right: 120px;
}

.footer__social-text {
    font-size: 16;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    margin-bottom: 16px;
}

.footer__social-list {
    display: flex;
    gap: 16px;
}

.footer__social-item {
    width: 40px;
    height: 40px;
}

.footer__social-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: #4D5AE5;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer__social-link:focus {
    background-color: #31d0aa;
}

.footer__social-link:hover {
    background-color: #31d0aa;
}

.footer__social-img {
    fill:  #f4f4fd;
}


.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.4);
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    width: 408px;
    min-height: 584px;
    background: #fcfcfc;
    box-shadow:  0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__button {
    position: absolute;
    width: 24px;
    height: 24px;
    top: 24px;
    right: 24px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e7e9fc;
    border: 1px solid rgba(0, 0, 0, 0.1);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__button:focus {
    border: none;
    background-color: #404BBF;
}

.modal__button:hover {
    border: none;
    background-color: #404bbf;
}

.modal__button-svg {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}